# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

**/logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
**//nbproject/private/
**//nbbuild/
**//dist/
**//nbdist/
**//.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

### MAVEN ###
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar


#---------------------------------

HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
hb-one-to-one/mvnw
hb-one-to-one/mvnw.cmd
hb-one-to-one/.mvn/wrapper/maven-wrapper.jar
hb-one-to-one/.mvn/wrapper/maven-wrapper.properties
hb-one-to-many/mvnw
hb-one-to-many/mvnw.cmd
hb-one-to-many/.mvn/wrapper/maven-wrapper.properties
hb-many-to-many/mvnw
hb-many-to-many/mvnw.cmd
hb-many-to-many/.mvn/wrapper/maven-wrapper.properties
crud-jpa/mvnw
crud-jpa/mvnw.cmd
crud-jpa/.mvn/wrapper/maven-wrapper.jar
